.info-cards {
  background-color: lightgrey !important;
  color: $brand-primary;
  margin: 20px 50px;
  border-radius: 6px;
  box-shadow: 3px 3px 20px #222 !important;
  width: 350px;
}
.MuiTypography-root {
  margin-bottom: 10px !important;
}
.user-cards {
  background-color: lightgrey !important;
  box-shadow: 5px 5px 10px $border-color;
  margin: auto;
  width: 50%;
  min-width: 620px;
  max-width: 900px;
  min-height: 320px;
  padding: 10px;
}
.MuiCardHeader-title {
  color: white;
}

.fieldContainer {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.fieldLabel {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.styles_Editext__input__1534X {
  background-color: $brand-secondary;
  border-radius: 5px;
  border: 0px solid;
  color: white;
}
.styles_Editext__main_container__2Y-IL {
  background-color: lightgrey;
  color: $brand-primary;
  white-space: pre;
  border-radius: 5px;
  margin-left: 20px;
}
.styles_Editext__edit_button__hthOZ {
  background-color: lighten($brand-primary, 20%);

  border-radius: 5px;
  &:hover {
    background-color: lighten($brand-primary, 50%);
  }
}
.styles_Editext__cancel_button__259hb {
  background-color: $brand-primary;
  border-radius: 5px;
}
.styles_Editext__save_button__3WN6q {
  background-color: $brand-primary;
  border-radius: 5px;
}
.contactButton {
  float: right;
}
.contactImage {
  float: right;
  margin-right: 10%;
  height: 150px;
  width: 150px;
}
